body{
    color: red;
    text-align: center;
    font-family: 'Courier New';
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: cadetblue;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: blue;
    color: black;
    text-align: right;
    font-size: 20px;
}
#cabecera #logo {
    width: 20px;
    vertical-align: : middle;
}
#footer{
    background-color: green;
    color: white;
    padding: 2em;
    width: 100%;
    font: Arial;
    text-align: center; 
}